*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* 整体容器左边 */
.container-left{
    width: 25%;
    height: auto;
    position: fixed;
    /* background-color: rgba(196, 100, 100, 0.836); */
    float: left;
    top: 0;
    left: 0;
    z-index: 2;
    /* display: none; */
}
.menu{
    height: 50px;
    width: 400px;
    padding: 30px 10px;
}
.menu-left img{
    width: 36px;
    height: 36px;
    float: left;
    margin-left: 20px;
}
.nav{
    margin-left: 20px;
    float: left;
    height: 18px;
    font-weight: 700;
    line-height: 30px;
}
.menu-right{
    float: left;
    margin-left: 100px;
    margin-top: 6px;
    align-items: center;
}
.menu-text{
    width: 300px;
    margin: 250px 50px;
}
.menu-text-top{
    font-size: 26px;
    font-weight: 800;
}
.menu-text-bottom{
    width: 300px;
    height: 100px;
    margin-top: 30px;
}
.menu-text-bottom img{
    width: 28px;
    height: 28px;
    float: left;
}
.login{
    color: #00a862;
    float: left;
    font-size: 17px;
    line-height: 22px;
    margin-left: 10px;
    cursor: pointer;
}
.reges{
    float: left;
    color: #00a862;
    line-height: 15px;
    font-size: 18px;
    padding: 4px 10px;
    border: 1px solid #00a862;
    border-radius: 48px;
    margin-left: 50px;
    padding: 5px 13px;
    cursor: pointer;
}
/* 容器左边右上角的三条杠会弹出子导航栏 */
.container-left-subnav{
    width: 25%;
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    
    z-index: 1;
    opacity: 0;
    visibility: hidden; 
    /* 过渡动画的时间与效果 */
    transition: 0.3s ease-in;
}
.subnav-right{
    float: right;
    width: 56px;
    height: 48px;
    position: absolute;
    top: -3;
    right: 0;
    margin-left: 30px;
    
}
.subnav-right img{
    width: 38px;
    height: 38px;
}
.subnav-content{
    padding: 40px 60px 20px;
}
.subnav-content-ul li{
    font-size: 20px;
    margin-bottom: 13px;
    font-weight: bold;
}
.subnav-content-ul a{
    color: black;
}
.subnav-content-ul hr{
    background-color: rgba(128, 128, 128, 0.486);
    margin: 20px 0px;
}
.subnav-content img{
    width: 28px;
    height: 28px;
    float: left;
}
.subnav-bottom-text{
    margin-top: 70px;
    display: inline;
    font-size: 14px;
    float: left;
    color: grey;
    margin-right: 90px;
}

/* 整体右边部分样式 */
.container-right{
    width: 75%;
    height: 1900px;
    float: right;
    /* 隐藏水平滚动条 */
    overflow-x: hidden;
}
.banner{
    width: 1200px;
    height: 520px;
    position: relative;
    overflow: hidden;
}
.banner-ul{
    width: 6000px;
    height: 520px;
    position: absolute;
    /* 轮播图平滑移动 */
    transition: left 1s linear;
    /* left: -1000px; */
}
.banner-ul li{
    float: left;
}
.banner-ul img{
    width: 1200px;
    height: 520px;
}
.banner-right-buttom{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 45%;
    right: 70px;
    /* background-color: #241f1f; */
    transition-duration: 0.5s;
}
.banner-right-buttom img{
    width: 48px;
    height: 48px;
    /* position: relative; */
}
.banner-right-buttom:hover{
    right: 60px;
}
.banner-promotion{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
    padding: 2px 4px;
    box-sizing: border-box;
    background-color: rgb(8,47,50);
    color: rgba(253, 253, 253, 0.575);
}
/* 第二部分 小图三张 */
.promotion{
    width: 100%;
    height: 300px;
    padding: 30px 0;
    background-color: rgb(247,247,247);
}
.photoShow{
    float: left;
    width: 28%;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
}
.photoShow img{
    position: relative;
    border-radius: 5px;
    top:10px;
    width: 100%;
    height: 230px;
    transition-duration: 0.4s;
}
/* 悬停浮动效果 */
.photoShow img:hover{
    top: 0px;
    box-shadow: 0px 2px 2.5px 1px #aaa;
}

/* 第三部分 咖啡俱乐部 */
.club{
    /* width: 1200px; */
    width: 100%;
    height: 200px;
    padding: 50px 200px;
}
.club-left{
    float: left;
    width: 50%;
    height: 100px;
}
.club-left-top{
    font-size: 22px;
}
.club-left-middle{
    color: gray;
    margin: 20px 0;
}
.club-left-middle a{
    color: #c2a661;
}
.club-left-bottom{
    float: left;
    width: 300px;
    margin-top: 20px;
}
.club-left-bottom span{
    color: #00a862;
    border: 1px solid #00a862;
    border-radius: 48px;
    font-size: 18px;
    padding: 6px 18px;
    box-sizing: border-box;
    cursor: pointer;
}
.club-right{
    width: 50%;
    height: 100px;
    float: left;
    margin-left: 400px;
    position: relative;
    top: -70%;
    left: 5%;
}
.club-right img{
    width: 80%;
    height: 72px;
}

/* 第四部分 精选，小图四张 */
.choice{
    width: 100%;
    height: 375px;
    margin:30px 0px;
    padding: 15px 200px;
    background-color: rgb(247,247,247);
    box-sizing: border-box;
}
.choice-top{
    font-size: 22px;
    font-weight: bold;
    width: 50%;
    /* position: absolute; */
    margin: 0px 350px;
}
.choice-middle{
    color: gray;
    width: 300px;
    margin: 20px 270px;
}
.choice-bottom{
    width: 100%;
    height: 190px;
    margin-top: 30px;
    float: left;
}
.choice-bottom-card{
    width: 22%;
    height: 180px;
    margin-left: 20px;
    background-color: #ffffff;
    text-align: center;
    box-shadow:0px 0px 0.1px 0.1px rgba(151, 150, 150, 0.5) ;
    position: relative;
    top: 20px;
    left: 2%;
    float: left;
    /* border: 0.1px solid gray; */
    border-radius: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.choice-bottom-card img{
    position: relative;
    top: -30px;
}
.choice-bottom-card:hover{
    top: 10px;
    box-shadow: 0px 2px 2.5px 1px #aaa;
}
.choice-bottom-card a{
    color: #c2a66c;
    font-size: 13px;
}
.choice-bottom-card-top{
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 10px;
}
.choice-bottom-card-middle{
    color: gray;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
}

/* 第五部分 */
.culture{
    width: 100%;
    height: 20%;
    padding: 2% 10%;
    box-sizing: border-box;
}
.culture-top{
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    margin: 0 30%;
    margin-bottom: 3%;
}
.culture-middle{
    color: gray;
    font-size: 16px;
    width: 100%;
    margin: 0 34%;
}
.culture-bottom{
    width: 100%;
    height: 30%;
    margin-left: -10%;
    position: relative;
    /* overflow: hidden; */
    /* float: left; */
}
.culture-ul{
    width: 1600px;
    position: absolute;
    /* 平滑移动 */
    transition: 0.5s linear;
    /* 向右平滑移动 */
    /* transition: right 0.5s linear; */
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px 130px;
}
.culture-bottom-photo{
    width: 300px;
    height: 210px;
    float: left;
    margin-top: 4%;
    margin-left: 20px;
    box-shadow:0.5px 0px 0px 0px rgba(128, 128, 128, 0.438) ;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.438);
    border-right: 0.5px solid rgba(128, 128, 128, 0.438);
    border-radius: 3px;
    position: relative;
    top: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.culture-bottom-photo:first-child{
    margin-left: 70px;
}
.culture-bottom-photo:hover{
    top: 0px;
    /* box-shadow: 0px 2px 2.5px 1px #aaa; */
}
.culture-bottom-photo img{
    width: 100%;
    height: 160px;
}
.culture-bottom-photo-describe{
    position: absolute;
    top: 2%;
    background-color: rgb(194,166,97);
    color: white;
    padding: 6px 10px;
}
.culture-bottom-photo p{
    margin-top: 10px;
    margin-left: 10px;
    color:rgba(0, 0, 0, 0.575);
}
.culture-btn-pre img{
    position: relative;
    top: 0px;
    left: -90px;
    background-color: #fff;
    border-radius: 48px;
    cursor: pointer;
}
.culture-btn-next img{
    position: relative;
    top: 38px;
    right: -950px;
    background-color: #ffffff;
    border-radius: 48px;
    cursor: pointer;
}

/* 最底部的报备号 */
.final-text{
    width: 100%;
    height: 1%;
    text-align: center;
    margin-left: -3%;
    margin-top: 2rem;
}
